@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.7;
}

.menu-act {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.search-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #5b5b5b;
}

.search-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}

section#hero {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-image: url("../image/globe-bg.png");
  background-repeat: no-repeat;
  padding: 73px 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  section#hero {
    padding: 73px 100px;
  }
}
section#hero .hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#hero .hero-top .menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
section#hero .hero-top .menu-user {
  display: flex;
  gap: 10px;
}
section#hero .hero-top .menu-user .menu-user-img {
  position: relative;
  cursor: pointer;
}
section#hero .hero-top .menu-user .menu-user-img img {
  border-radius: 50%;
}
section#hero .hero-top .menu-user .menu-user-img::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}
section#hero .hero-top .menu-user .menu-user-text {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: right;
}
section#hero .hero-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: white;
}
section#hero .hero-middle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
}
section#hero .hero-middle button {
  width: 273px;
  height: 72px;
  background: #7b61ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 0;
  cursor: pointer;
}
section#hero .hero-middle button span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
section#hero .hero-bottom .input-field {
  display: flex;
  align-items: center;
  padding: 30px;
  position: absolute;
  height: 88px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid;
}
section#hero .hero-bottom .input-field .nested-field {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;
  width: 250px;
  height: 72px;
}
section#hero .hero-bottom .input-field .nested-field:nth-child(1),
section#hero .hero-bottom .input-field .nested-field:nth-child(3) {
  width: 300px;
}
section#hero .hero-bottom .input-field .nested-field img {
  grid-column: span 1;
  grid-row: span 2;
  align-self: center;
}
section#hero .hero-bottom .input-field .nested-field span {
  grid-row: span 1;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #5b5b5b;
  align-self: flex-end;
}
section#hero .hero-bottom .input-field .nested-field h4 {
  grid-row: span 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}
section#hero .hero-bottom .input-field button {
  width: 60px;
  height: 60px;
  background-color: #7b61ff;
  border-radius: 12px;
} /*# sourceMappingURL=style.css.map */

.rufet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.r-1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #161414;
  font-weight: 700 !important;
}
.r-02 img {
  display: flex;
  justify-content: center;
}

.r-02 {
  color: #5243c2;
  background: #f6f4ff;

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border: 1px solid #5243c2;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
}

.r-2 {
  line-height: 35px;
  color: #5b5b5b;
  font-weight: 400;
}

.rufet .r-02 {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.r-3 img {
  margin-top: 50px;
  height: 500px;
  border-radius: 20px;
}

.zarangul {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 100px;
}
.z-footer {
  width: 250px;
}
.z-footer p,
.z-footer ul li {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5b5b5b;
}
.z-footer h5 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #161414;
  margin-bottom: 20px;
}
.z-footer ul li {
  list-style: none;
}
.z-social-icon {
  display: flex;
}
.z-social-icon div {
  padding: 5px;
}
.z-footer-email {
  width: 300px;
  height: 36px;
  display: flex;
}
.z-footer-email .z-input .z-img img {
  width: 30px;
  height: 30px;
}
.z-footer-email .z-input input {
  width: 80%;
  height: 100%;
  padding-left: 5px;
  border: none;
  outline: none;
  background-color: white !important;
}
.z-input {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: white;
}
.z-footer-email button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 36px;
  height: 36px;
  background: #7b61ff;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  margin-left: 5px;
}
